.container
  %h2 International Cheeseburger Quality Survey

  = bootstrap_form_for(@cheeseburger) do |f|
    = f.date_field :date
    = f.text_field :country
    = f.text_field :location
    = f.number_field :height, step: '0.01'
    = f.number_field :diameter, step: '0.01'
    = f.text_field :taste
    = f.text_field :additional_comment
    = f.number_field :rating
    = f.text_field :reviewer
    = f.submit "Create"

  .cheesburgers
  %table.table.w-100.mb-0
    %thead
      %tr
        %th.text-left Date
        %th.text-right Country
        %th.text-right Location
        %th.text-right Height
        %th.text-right Diameter
        %th.text-right Taste
        %th.text-right Additional comment
        %th.text-right Rating
        %th.text-right Reviewer
    %tbody
      - @cheeseburgers.each do |cheeseburger|
        %tr
          %td.text-left=cheeseburger.date
          %td.text-right=cheeseburger.country
          %td.text-right=cheeseburger.location
          %td.text-right=cheeseburger.height
          %td.text-right=cheeseburger.diameter
          %td.text-right=cheeseburger.taste
          %td.text-right=cheeseburger.additional_comment
          %td.text-right=cheeseburger.rating
          %td.text-right=cheeseburger.reviewer
